/SeleniumPractice/venv/
/SeleniumPractice/.idea/
/NumberGuessingGame/.idea/
/HigherLowerGame/venv/
/HigherLowerGame/.idea/
/HangManGame/venv/
/HangManGame/.idea/
/EncodingAndDecodingMessage/venv/
/EncodingAndDecodingMessage/.idea/
/CoffeeMakerMachine/.idea/
/CoffeeMakerMachine/venv/
/Calculator/venv/
/Calculator/.idea/
/BlackJackGame/venv/
/BlackJackGame/.idea/
/AuctionGame/venv/
/AuctionGame/.idea/
